.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}

.backdrop.is-open {
  transition-delay: 0ms;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  opacity: 0;

  max-width: 408px;
  min-height: 582px;
  width: 100%;
  border-radius: 4px;
  padding: 72px 24px 24px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, opacity;
}

.backdrop.is-open .modal {
  transform: translate(-50%, -50%);
  opacity: 1;
  transition-delay: 250ms;
}

.modal-button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 100%;
  background-color: #e7e9fc;
  outline: transparent;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color, background-color;
}

.modal-button-close:hover,
.modal-button-close:focus {
  border-color: #404bbf;
  background-color: #404bbf;
}

.modal-icon-close {
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover > .modal-icon-close,
.modal-button-close:focus > .modal-icon-close {
  color: #fff;
}

.modal-caption {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

/* Modal form */
.modal-form {
}

.field {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-form-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 38px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover,
.modal-form-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  color: #4d5ae5;
}

.modal-form-comment {
  width: 100%;
  height: 120px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;

  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:hover,
.modal-form-comment:focus {
  border: 1px solid #4d5ae5;
}

.modal-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-agreement {
  margin-bottom: 24px;
}

.modal-form-policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color, background-color;
}

.checkbox:checked + .modal-form-policy > .modal-form-checkbox {
  border-color: #404bbf;
  background-color: #404bbf;
}

.checkbox:focus-visible + .modal-form-policy > .modal-form-checkbox {
  outline: auto;
  outline-offset: 4px;
  border-radius: 4px;
}

.modal-form-check-icon {
  width: 10px;
  height: 8px;
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, opacity;
}

.checkbox:checked
  + .modal-form-policy
  > .modal-form-checkbox
  .modal-form-check-icon {
  color: #f4f4fd;
  opacity: 1;
}

.modal-form-link-policy {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-send-button {
  width: 169px;
  outline: transparent;
}
